PORT=8000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:cloud@localhost:3306/<database_name>"

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
APP_NAME="app_name"

REDIS_URL="redis://default:Default user password@localhost:6379"

GOOGLE_API_KEY="your_api_key_here"
GOOGLE_PLACE_ID="your_business_place_id_here"
# Mailtrap Sandbox (Development)
MAILTRAP_SANDBOX_USER=''
MAILTRAP_SANDBOX_PASS=''

